[submodule "vendor/rvvm-hal"]
	path = vendor/rvvm-hal
	url = https://github.com/SolAstrius/rvvm-hal.git
	branch = master
[submodule "vendor/mgba"]
	path = vendor/mgba
	url = https://github.com/mgba-emu/mgba.git
